doctype html
html
    head
        title= title
        meta(charset="utf-8")
        style
            include ../../public/styles/style.css
    body
        include navbar


        block content
        script(src='https://cdn.jsdelivr.net/npm/marked/marked.min.js')