extends ../views/shared/layout.pug

block content
    main.container
    form(action='/edit', method='POST')
        p
            input(type='text', name='name', value=user.name)
            input(type='number', step="1" min="17" max="100" name='age', value=user.age)
            input(type='text', name='course_name', value=user.course_name)
            input(type="hidden", name="id" value=user.id)
            input(type='submit', value='Submit')