extends ../views/shared/layout.pug

block content
    main.intro
        p This is very simple students database app
        p You can create students, create and delete them
        a(href="/main" class="start-btn") Start